NODE_ENV=
PORT=

AI_API_KEY=
AI_MODEL=gemini-2.0-flash
# Ao usar Ollama
# http://ollama:11434/v1/chat/completions se o backend estiver no Docker
# http://localhost:11434/v1/chat/completions se o backend NÃO estiver no Docker
AI_API_URL=https://generativelanguage.googleapis.com/v1beta/openai/chat/completions

CORS_ORIGIN=https://meuplano-ai-backend-xzn8.onrender.com/